@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	background: url("https://cdn.discordapp.com/attachments/425094270135828491/777891384988270602/bg.jpg");
}

.logo {
	width: 200px;
	height: 200px;
}

#header {
	padding: 30px;
	display:flex;
	align-items:center;
	justify-content: center;
}

#logoName {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-size: 45px;
	text-align: center;
	color: #80e880;
}

#tracker {
	color: #6dbf6b;
}

footer {
	text-align: center;
	background-attachment: scroll;
	background-position: 0% 0%;
	position: fixed;
	bottom: 0pt;
	font-size: 14px;
	background-color: rgb(108, 214, 214);
	border-top-right-radius: 6px;
	padding: 8px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

#coronaTracker {
	background-color: rgb(232, 128, 128, 0.95);
	padding: 5px;
	border-radius: 8px;
	margin-left: 20px;
}

#info {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.dataContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.state {
	margin-left: 100px;
}

@media screen and (max-width: 650px) {
	.logo {
		display: none;
	}

	#info {
		display: block;
	}

	.state {
		margin-left: auto;
	}

	#coronaTracker {
		margin-left: 0px;
	}
}